<div style="height: 100%;width: 100%;background: #F2F2F2;">
	<div class="bar bar-header padding0 activety" >
		<img class="back" src="img/fanhui.png" ui-sref="home"/>
		<img class="screen" src="img/shaixuan.png" />
	</div>
	<ion-content class="has-header">
			     <ion-list  show-delete="data.showDelete" show-reorder="data.showReorder">
			     	<div class="mt10" ng-repeat="item in listUrl" ng-click="detalisclick(item.act_id)" style="background: #FFFFFF;overflow: hidden;clear: both;padding-bottom: 5px;">
				        <ion-item  class="item item-thumbnail-left mt10"  >			 
					      <img ng-src="{{item.thumb}}">
					      <h2 class="c000 font14 font-w">{{item.title}}</h2>
					      <div class="huo-list">
					      	<div ng-repeat="t in item.tags" ng-style="{'background-color':'{{t.tag_color}}'}">{{t.title}}</div>
					      </div>
					      <div class="times mt5">
					      	<label class="font12 c666">时间:</label>
					      	<label class="font12 c666">{{item.endTime.split(":")[0]+":"+item.endTime.split(":")[1]}}</label>
					      	<label class="font12 c666">~</label>
					      	<label class="font12 c666">{{item.endTime.split(":")[0]+":"+item.endTime.split(":")[1]}}</label>
					      </div>
					      <div class="place">
					      	<label class="font12 c666">地点:</label>
					      	<label class="font12 c666">{{item.address}}</label>
					      </div>
				        </ion-item>
				        <div class="information">
				        	<div><img class="message" style="margin-right: 3px;"  src="img/aixin.png"/>{{item.readCount}}阅读</div>
					      	<div><img class="message" src="img/my.png"/>{{item.passCount}}人报名</div>
					      	<div><img class="message" src="img/message.png"/>{{item.commentCount}}留言</div>
					      </div>
			         </div>
			      </ion-list>
			 <div class="nodata" ng-if="data">没有活动</div>
			<div ng-show="loading" style="position:static;font-size:16px;z-index:9999;margin:30px 0 -70px 0;padding-bottom:10px;text-align:center;">加载中</div>
			<ion-infinite-scroll ng-if="loadMoresss" on-infinite="loadMore()" spinner>
		    </ion-infinite-scroll>
	</ion-content>
</div>

<div class="screen_motai">
	<div class="screen_motai_center">
		<div class="type">类型</div>
		<div class="type_list">
			<div class="brn btn " ng-click="types1(t,$index)" ng-repeat="t in types">{{t.name}}</div>
		</div>
		<div class="times-active">时间</div>
		<div class="times_list">
			
			<div class="brn btn " ng-click="timesList(l,$index)" ng-repeat="l in times_list">{{l.name}}</div>
		</div>
		<div class="place-active">地点</div>
		<div class="place_list">
			<div class="brn btn " ng-click="placeList(d,$index)" ng-repeat="d in place_list">{{d.name}}</div>
			
		</div>
		
		<div class="btn-activty" ng-click="btn()">
			确定
		</div>
	</div>
</div>