<div style="height: 100%;width: 100%;background: #F2F2F2;padding-top: 10px;">
	<img class="logo " src="img/logo.png" />
	
	<div class="my-conter-list" style="margin-top: 20px;">
	 	<div class="list-data" >
		    <span style="position: absolute;left: 0;">客服微信号：</span>
		    <p class="hao" style="float: right;width: 70%;margin: 0;"> jdhn520</p>
		</div>
		<div class="list-data bn">
			<span style="position: absolute;left: 0;">客服电话：</span>
		    <p class="hao" style="float: right;width: 77%;margin: 0;"><a class="iphone"  href="tel:18516577541">（+86）18516577541</a></p>
		    
		</div>
		
    </div>
	
</div>