<style>
	.layui-m-layercont{text-align: left;}
</style>

<div style="height: 100%;width: 100%;background: #F2F2F2;">
	<div class="content has-footer overflow-scroll">
		<ion-slide-box does-continue="true" auto-play="true" style="width:100%;margin-bottom:-5px;">
            <ion-slide ng-repeat="ien in li track by $index">
                <img style="width:100%;height: 230px" ng-src="{{ien}}">
            </ion-slide>
        </ion-slide-box>
	    <div class="padding bff">
	    	<div class="detalis-title fm">{{list.title}}</div>
	    	<div class="huo-list">
		      	<div ng-repeat="t in list.tags" ng-style="{'background-color':'{{t.tag_color}}'}">{{t.title}}</div>
		      	<p class="ev" ng-if="is==2"  ng-click="orcmnum()">
		      		<img  src="img/ev.png" />
		      	</p>
		    </div>
		    <div class="detalis-information">
				<div class="mt20" ><label class="c5d" style="margin-left: 7px;">活动时间：</label> <label class="c333">{{list.beginTime.split(":")[0]+":"+list.beginTime.split(":")[1]}}</label> ~ <label>{{list.endTime.split(":")[0]+":"+list.endTime.split(":")[1]}}</label></div>
				<div><label class="c5d" style="margin-left: 7px;">活动地点：</label> <label class="c333">{{list.address}}</label></div>
				<div><label class="c5d"  style="margin-left: 7px;">活动价格：</label> <label class="font16 ">{{list.price_show}}</label><label>元</label></div>
				<div><label class="c5d">LOVE会员：</label> <label class="font16 cf1">{{list.act_lovePrice}}</label> <label>元</label><img class="love-img" ng-click="loveImg()" src="img/love.png"/></div>
				<div><label class="c5d" style="margin-left: 7px;">活动人数：</label> <label class="c333">{{list.p_dLimit}}</label></div>
				<div><label class="c5d" style="margin-left: 7px;">报名时间：</label> <label class="c333">{{list.signBeginTime.split("-")[1]+"-"+list.signBeginTime.split("-")[2].split(":")[0]+":"+list.signBeginTime.split("-")[2].split(":")[1]}}</label> ~ <label class="c333">{{list.signEndTime.split("-")[1]+"-"+list.signEndTime.split("-")[2].split(":")[0]+":"+list.signEndTime.split("-")[2].split(":")[1]}}</label></div>
				<div class=""><label class="c5d" style="margin-left: 7px;">活动简介：</label></div>
				<div class="iframe_list"></div>
		    </div>
			
	    </div>
		<div class="padding bff mt10">
			<div class="alreadysignup c5d">
				已报名（{{numlist}}人）
			</div>
			<div class="signup-ionic">
				<div class="" ng-repeat="n in signup">
					<img   ng-src="{{ imgurl(n.u_portrait) }}"/> 
				</div>
				<p class="more" ng-click="moreClick()" ng-if="isslect">更多</p>
			</div>
		</div>
		<!--<div class="padding bff mt10" ng-if="is==2"  ng-click="orcmnum()">
			<div class="alreadysignup c5d">
				评价（{{list.orcm_num}}人）
			</div>
			<div class="signup-ionic">
			</div>
		</div>-->
		<div class=" bff mt10" >
			<div class="alreadysignup c5d" style="padding-left: 10px;padding-top: 5px;">
				留言（{{list.actm_num}}条）

			</div>

			<div class="signup-ionic">
				<ul class="list" style="padding: 0;">
					<li class="item" style="white-space: inherit;min-height: 64px;height: auto;border-bottom:2px solid #ccc!important;padding: 5px 5px 15px 92px;" ng-repeat="e in leavingMessage">
						<div class="left-img">
							<img   ng-src="{{ imgurl(e.u_portrait) }}"/>
						</div>
						<div class="">
							<div>
								<label class="c000">{{e.u_nickName}}</label>
								<label>{{e.acm_time}}</label>
							</div>
							<div class="leavingMessage-center" >
								{{e.acm_text}}
							</div>
						</div>
					</li>

				</ul>
				<span style="color: #cccccc;margin-left: 45%;margin-top: -10px;position: absolute" ng-click="loadMore()" ng-if="isselect2">更多&gt&gt</span>


				<!--<ion-content class="has-header">-->
					<!--<div class="nodata" ng-if="data">没有活动</div>-->
					<!--<div ng-show="loading" style="position:static;font-size:16px;z-index:9999;margin:30px 0 -70px 0;padding-bottom:10px;text-align:center;">加载中</div>-->
					<!--<ion-infinite-scroll ng-if="loadMoresss" on-infinite="loadMore()" spinner>-->
					<!--</ion-infinite-scroll>-->
				<!--</ion-content>-->


			</div>
			<!--<div class="open" ng-click="openClick()"  ng-if="isShow">展开更多·····</div>-->



			<div class="padding" style="overflow: hidden;clear: both;margin-top: 12px">

				<textarea class="leavingmessage" ng-model="leavingmessagemoder"></textarea>
				<div class="leavingmessage-btn" ng-click="leavingmessage_btn()" >留言</div>
			</div>




		</div>
	</div>
	<div class="bar bar-footer signup text-center"  ng-click="eventRegistrationClick($event)"  ng-if="list.enroll_state==270">
	<!-- <div class="bar bar-footer signup text-center"  ng-click="eventRegistrationClick($event)"  ng-if="list.enroll_state==271"> -->
		 <h1 class="title">我要报名</h1>
	</div>
	<div class="bar bar-footer signup text-center"  ng-click="payment()"  ng-if="list.enroll_state==271">
	<!-- <div class="bar bar-footer signup text-center"  ng-click="payment()"  ng-if="list.enroll_state==270"> -->
		 <h1 class="title">去支付</h1>
	</div>
	
	<div class="bar bar-footer signup text-center" ng-click="eventRegistrationClick()" ng-if="list.enroll_state==275" >
		 <h1 class="title">已退款(再次报名支付)</h1>
	</div>
	<div class="bar bar-footer signup text-center "  ng-if="sex"   style="background: rgb(93, 88, 88);">
		 <h1 class="title">{{nu}}</h1>
	</div>
	<div class="bar bar-footer signup"  ng-if="list.enroll_state==272" style="background: rgb(255, 255, 255);border-top:1px solid #CCCCCC ;">
		 <button class="button button-clear " style="color: #000000;">已支付(待审核)</button>
		 <button class="button  button-positive" style="background: #EF705D;" ng-click="refund()">取消报名</button>
	</div>
	<div class="bar bar-footer signup text-center" ng-if="list.enroll_state==274" style="background: rgb(255, 255, 255);border-top:1px solid #CCCCCC ;" >
		<button class="button button-clear " style="color: #000000;">报名失败(待退款)</button>
		<button class="button  button-positive" style="background: #EF705D;" ng-click="refund()">取消报名</button>
	</div>
	<div class="bar bar-footer signup text-center"  ng-if="list.enroll_state==273" style="background: rgb(255, 255, 255);border-top:1px solid #CCCCCC ;">
		 <button class="button button-clear " style="color: #000000;">报名成功(已通过)</button>
		<button class="button  button-positive" style="background: #EF705D;" ng-click="refund()">取消报名</button>
		
	</div>
	<div class="bar bar-footer signup text-center"  ng-if="benotin">
		 <h1 class="title">不在报名时间内</h1>
	</div>
<!--	
	<div class="bar bar-footer signup text-center"  style="background: rgb(93, 88, 88);">
		 <h1 class="title">报名已完成</h1>
	</div>
	-->
	<div class="bar bar-footer signup text-center"   ng-if="complete" style="background: rgb(255, 255, 255);border-top:1px solid #CCCCCC ;">
		 <button class="button button-clear " style="color: #000000;">活动已完成</button>
		<button class="button  button-positive" style="background: #EF705D;" ng-click="elected()" >查询心动互选结果</button>
		
	</div>
</div>

<div class="refund_motai" ng-show="refund_motai">
	<div class="refund_center">
		<img class="refund_close" src="img/close.png" ng-click="refund_close()"/>
		<div class="c333">退款发起通知</div>
		<div class="mt15"><label class="c666">商户名称：</label><label class="c333">交大红娘</label></div>
		<div><label class="c666">退款备注：</label><label class="cebe">预计到账时间为0-3个工作日</label></div>
		
	</div>
</div>
