<div style="height: 100%;width: 100%;background: #F2F2F2;">
	<div class="content has-footer overflow-scroll">
		<ion-slide-box does-continue="true" auto-play="true" style="width:100%;margin-bottom:-5px;">
            <ion-slide ng-repeat="item in vo.slides track by $index">
                <img style="width:100%;" ng-src="{{item.lbpicUrl}}">
            </ion-slide>
	    </ion-slide-box>
	    <div class="padding bff">
	    	<div class="detalis-title">浪漫西塘，夏日清凉交友之旅，报名啦！</div>
	    	<div class="huo-list">
		      	<div>品牌活动</div>
		      	<div>互动交友</div>
		      	<div>轻松快乐</div>
		    </div>
		    <div class="detalis-information">
				<div class="">
					<label>130次阅读 · </label>9人报名 · <label>0人评价</label>
				</div>
				<div class="mt20"><label class="c5d">时间：</label> <label class="c333">07月28日 19:30-07月29日</label></div>
				<div><label class="c5d">地点：</label> <label class="c333">西塘</label></div>
				<div><label class="c5d">费用：</label> <label class="c333">原价</label><label><s class="font16 cbc">399</s></label> <label class="c333"> 会员价</label><label class="font16 cf1">299</label><label>元</label></div>
				<div><label class="c5d">报名人数：</label> <label class="c333">不限</label></div>
				<div><label class="c5d">报名时间：</label> <label class="c333">07月23日00:00-07月27日20:00</label></div>
				<div class=""><label class="c5d">活动简介：</label></div>
		    </div>
			
	    </div>
		<div class="padding bff mt10">
			<div class="alreadysignup c5d">
				已报名（12人）
			</div>
			<div class="signup-ionic">
				<div class="">
					<img src="img/beike.png" />
				</div>
				<div class="">
					<img src="img/beike.png" />
				</div>
				<div class="">
					<img src="img/beike.png" />
				</div>
				<div class="">
					<img src="img/beike.png" />
				</div>
				<div class="">
					<img src="img/beike.png" />
				</div>
				<div class="">
					<img src="img/beike.png" />
				</div>
				<div class="">
					<img src="img/beike.png" />
				</div>
				<div class="">
					<img src="img/beike.png" />
				</div>
				<div class="">
					<img src="img/beike.png" />
				</div>
				<div class="">
					<img src="img/beike.png" />
				</div>
				<div class="">
					<img src="img/beike.png" />
				</div>
				<div class="">
					<img src="img/beike.png" />
				</div>
				<div class="">
					<img src="img/beike.png" />
				</div>
			</div>
		</div>
		
		<div class="padding bff mt10">
			<div class="alreadysignup c5d">
				评价（12人）
			</div>
			<div class="signup-ionic">
				
			</div>
		</div>
		<div class="padding bff mt10">
			<div class="alreadysignup c5d">
				留言（12人）
			</div>
			<div class="signup-ionic">
				
			</div>
		</div>
	</div>
	<div class="bar bar-footer signup text-center" ui-sref="eventRegistration">
		 <h1 class="title">我要报名</h1>
	</div>
</div>
