<div class="padding overflow-scroll" style="height: 100%;width: 100%;background: #F2F2F2;">
	<div class="jiaotong-center">
		<img class="logo" src="img/logo.png" />
		
		<div class="introduce">
			交大红娘是由上海交大博士生创办的优质青年交友平台，总部位于上海人民广场，旨在帮助全球优质青年扩展社交圈，告别单身状态，收获最纯净、最靠谱、最真实的甜蜜爱情。
		</div>
		<div class="introduce">
			从2013年9月28日创办至今，交大红娘从"每周一约"规模扩大到"每周多约"，举办了多次大型的"八分钟快速约会"，以及各式各样深受朋友们喜欢的交友活动；依托交大，参与人群已经覆盖清华北大、复旦同济等众多名校，参与活动人次超过2万人，志愿者接近800人，促成千余对情侣的诞生，覆盖人群十多万，在国内优质青年群体中影响力巨大，成果也十分丰硕，并接受过青年报、理财周刊、上海观察等多家媒体的专题报道。
		</div>
		
		<div class="mt20 corporateName text-center">斯一网络科技（上海）有限公司</div>
		<div class="mt10 corporateName text-center">Copyright ©2016</div>
	</div>	
</div