<div style="height: 100%;width: 100%;background: #F2F2F2;">
		<div class="content has-footer overflow-scroll">
			<div class="my-center text-center">
				<div class="my-center-portrait">
					<img  src="img/beike.png" />
				</div>
				<div class="mt15">交大红娘</div>
				<div class="authentication ">未认证</div>
			</div>
			<div class="my-list" ui-sref="myActivities">
				<div class="myactivity">
					<!--<img src="img/wode.png" />-->
				</div>
				我的活动
				<i class="icon ion-ios-arrow-right"></i>
			</div>
			<div class="my-conter-list">
			 	<div class="personaldata" ui-sref="personalData">
				个人资料
					<i class="icon ion-ios-arrow-right"></i>
				</div>
				<div class="personaldata" ui-sref="realNameAuthentication" >
				实名认证
					<i class="icon ion-ios-arrow-right"></i>
				</div>
				<div class="personaldata bn" ui-sref="accountSettings">
				账号设置
					<i class="icon ion-ios-arrow-right"></i>
				</div>
			 </div>
			 <div class="my-conter-list">
			 	<div class="personaldata" ui-sref="JiaotongUniversityMatchmaker">
				关于小鹿
					<i class="icon ion-ios-arrow-right"></i>
				</div>
				<div class="personaldata bn" ui-sref="customerService">
				联系客服
					<i class="icon ion-ios-arrow-right"></i>
				</div>
			 </div>
		</div>
		<div class="tabs tabs-icon-top">
		  <a class="tab-item"  ng-click="home()">		  				
		    <i class="icon ion-ios-home-outline"></i>
		   活动
		  </a>
		  <a class="tab-item "  ng-click="news()">
		    <i class="icon ion-ios-chatbubble-outline"></i>
		  消息
		  </a>
		  <a class="tab-item active"  ng-click="my()">
		    <i class="icon ion-ios-person-outline"></i>
		    我
		  </a>
        </div>
</div>
