<div style="height: 100%;width: 100%;background: #F2F2F2;">
	<div class="content overflow-scroll">
		<div class="list">
		    <a class="item item-thumbnail-left" style="height: 118px;">
		     	<img class="beike" src="img/beike.png">
			    <h2 class="c000 font14 font-w">KTV青春交友派对，报名啦！</h2>
			    <div class="times mt5">
			      	<label class="font12 c666">报名编号：</label>
			      	<label class="font12 c666">2121</label>
			    </div>
			    <div class="place">
			      	<label class="font12 c666">活动时间：</label>
			      	<label class="font12 c666">07月19 18:30</label>
			      	<label class="font12 c666">~</label>
			      	<label class="font12 c666">07月19 18:30</label>
			    </div>
			    <div class="numberOf">
			      	<label class="font12 c666">地点：</label>
			      	<label class="font12 c666">交大美女贼多交大美女贼多交大美女贼多交大美女贼多交大美女贼多</label>
			    </div>	
			    <div class="mt5">
			    	<label class="font14 active font-w">活动状态：</label>
			    	<label class="font14 active font-w">已提交</label>
			    	<label class="font14 active font-w payment">去支付</label>
			    </div>
		    </a>
	    </div>
	</div>
</div>