<div style="height: 100%;width: 100%;background: #F2F2F2;">
		<div class="content  overflow-scroll">
			<div class="my-conter-list bn" style="margin-top: 10px;">
			 	<div class="list-data" >
				    <span>昵称:</span>
				    <input  type="text" style="width: 88%;"/>
				</div>
				<div class="list-data bn" >
				    <span>身份证号码:</span>
				    <input  type="text" style="width: 76%;"/>
				</div>
            </div>
            <div class="photo-center text-center">
            	<div class="add-photo">
            		<div class="">
            			<div class="identity">
          
            			</div>
            			<div class="c666 mt5">身份证正面(必选)</div>
            		</div>
            		<div class="">
            			<div class="identity"></div>
            			<div class="c666 mt5">身份证反面(必选)</div>
            		</div>
            	</div>
            	
            	<div class="add-photo mt20">
            		<div class="">
            			<div class="identity"></div>
            			<div class="c666 mt5">学历证书照片(选填)</div>
            		</div>
            		<div class="">
            			<div class="identity"></div>
            			<div class="c666 mt5">工作证明照片(选填)</div>
            		</div>
            	</div>
            </div>
            <div class="explain text-center">实名认证，做最真诚的自己！认证后将会拥有众多优先权，提高脱单率。</div>
            <div class="authentication-submit">认证提交</div>
        </div>
</div>