<div class="padding" style="height: 100%;width: 100%;background: #F2F2F2;">
	<div class="jiaotong-center">
		<div class="logo"></div>
		
		<div class="introduce">
			交大红娘是由上海交大在校博士生创办的优质青年交友平台，旨在帮助高校硕士生、青年教职员工以及优质校友告别单身状态，找到另一半，收获最纯净、
			最靠谱、最真实的优质爱情。
		</div>
		<div class="introduce">
			从2013年9月28日创办至今，交大红娘从"每周一约"扩大到"每周四约"的固定模式，举办了多次大型的"八分钟快速约会"，
			以及各式各样深受青年朋友们喜欢的相亲交友活动；依托交大，参与人群已经覆盖华师大、复旦大学、同济大学等多所沪上高校，注册会员超过10000人，志愿者接近800人，
			促成600余对情侣的诞生，覆盖人群十多万，可以说在上海优质青年群体中影响力巨大，成果也十分丰硕。
		</div>
		<div class="introduce">
			目前，已和10多家企业建立合作关系，开展企业定制服务。同时，得到上海观察，青年报、理财周刊等多家媒体的专题报道。
		</div>
		
		<div class="mt20 corporateName text-center">斯一网络科技（上海）有限公司</div>
		<div class="mt10 corporateName text-center">Copyright ©2016</div>
	</div>	
	
	
</div