<div style="height: 100%;width: 100%;background: #F2F2F2;">
		<div class="content  overflow-scroll">
			<div class="my-conter-list bn" style="margin-top: 10px;">
			 	<div class="list-data" >
				    <span>手机号:</span>
				    <input  type="text" style="width: 85%;padding-left: 5px;" ng-model="modifyPass.mobilePhone"/>
				</div>
				<div class="list-data bn"  ui-sref="modifyPassword">
				    <span>验证码:</span>
				    <input class="verification"  type="text" style="" ng-model="modifyPass.verification"/>
				    <div class="getValidation" ng-click="sendCode()">{{buttonName}}</div>
				</div>
            </div>
            <div class="my-conter-list bn" style="margin-top: 30px;">
				<div class="list-data " >
				    <span>输入新密码:</span>
				    <input class="modifypass"  type="password" style="width: 74%;padding-left: 5px;" ng-model="modifyPass.pass"/>   
				</div>
				<div class="list-data bn" >
				    <span>确认密码:</span>
				    <input  class="modifypass" type="password" style="width: 80%;padding-left: 5px;" ng-model="modifyPass.password"/>   
				</div>
            </div>
            <div class="agree">
            	<span>同意</span><span>小鹿法律条款</span>
            </div>
            <div class="logout" ng-click="logout()">确认修改</div>
       </div>
</div>