<div style="height: 100%;width: 100%;background: #F2F2F2;">
		<div class="content overflow-scroll">
			<div class="my-conter-list" style="margin-top: 10px;">
			 	<div class="list-data" >
				    <span>昵称:</span>
				    <input  type="text" ng-model="personalData.nickname"/>
				</div>
				<div class="list-data">
					<span>姓名:</span>
				    <input  type="text" ng-model="personalData.fullName"/>
				</div>
				<div class="list-data">
					<span>性别:</span>
				   <input  type="text" ng-model="personalData.Gender"/>
				</div>
				<div class="list-data">
					<span>出生年月:</span>
				    <input  type="text" id="start_date" ng-model="personalData.Birth"/>
				</div>
				<div class="list-data bn">
					<span>身高:</span>
				    <input  type="number" ng-model="personalData.height"/>
				</div>
            </div>
            <div class="my-conter-list" style="margin-top: 30px;">
			 	<div class="list-data" >
				    <span>毕业院校:</span>
				    <input  type="text" ng-model="personalData.school"/>
				</div>
				<div class="list-data">
					<span>工作单位:</span>
				    <input  type="text" placeholder="在校生可不填" ng-model="personalData.company"/>
				</div>
				<div class="list-data">
					<span>学历:</span>
				    <input  type="text" ng-model="personalData.education"/>
				</div>
				<div class="list-data">
					<span>年收入水平:</span>
				    <input  type="text" ng-model="personalData.annualincomeLevel"/>
				</div>
				<div class="list-data bn">
					<span>居住城市:</span>
				    <input  type="text" ng-model="personalData.city"/>
				</div>
            </div>
            <div class="submit-input" ng-click="submit_input()">提交</div>
    </div>
</div>